In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("paysim_sample.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0,0
1,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0,0
2,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0,0
3,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0,0
4,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0,0

In [5]:
df.shape

(150000, 11)

In [6]:
#basic cleaning of the dara

df=df.drop_duplicates()
df=df.reset_index(drop=True)

In [7]:
df.shape  #no duplicates present

(150000, 11)

In [8]:
#dropping unnecessary columns

df=df.drop(columns=['nameOrig','nameDest'])
df.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,278,CASH_IN,330218.42,20866.00,351084.42,452419.57,122201.15,0,0
1,15,PAYMENT,11647.08,30370.00,18722.92,0.00,0.00,0,0
2,10,CASH_IN,152264.21,106589.00,258853.21,201303.01,49038.80,0,0
3,403,TRANSFER,1551760.63,0.00,0.00,3198359.45,4750120.08,0,0
4,206,CASH_IN,78172.30,2921331.58,2999503.88,415821.90,337649.60,0,0

In [9]:
df.dtypes

step                int64
type               object
amount            float64
oldbalanceOrg     float64
newbalanceOrig    float64
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [10]:
# feature engineering

#for anomolies and payment frauds - oldbalanceOrg / newbalanceOrig -Balance anomalies

#oldbalanceOrg − amount ≠ newbalanceOrig, so now here we calculate the differnce, if the it doesnt match its an anomoly

df["balance_delta_org"] = df["oldbalanceOrg"] - df["newbalanceOrig"]
df["balance_delta_dest"] = df["newbalanceDest"] - df["oldbalanceDest"]

In [11]:
df["hour"] = df["step"] % 24

In [12]:
df = pd.get_dummies(df, columns=["type"], drop_first=True)

In [13]:
df.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'isFraud', 'isFlaggedFraud', 'balance_delta_org',
       'balance_delta_dest', 'hour', 'type_CASH_OUT', 'type_DEBIT',
       'type_PAYMENT', 'type_TRANSFER'],
      dtype='object')

In [14]:
df.isnull().sum()

step                  0
amount                0
oldbalanceOrg         0
newbalanceOrig        0
oldbalanceDest        0
newbalanceDest        0
isFraud               0
isFlaggedFraud        0
balance_delta_org     0
balance_delta_dest    0
hour                  0
type_CASH_OUT         0
type_DEBIT            0
type_PAYMENT          0
type_TRANSFER         0
dtype: int64

In [15]:
df.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,balance_delta_org,balance_delta_dest,hour,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,278,330218.42,20866.00,351084.42,452419.57,122201.15,0,0,-330218.42,-330218.42,14,False,False,False,False
1,15,11647.08,30370.00,18722.92,0.00,0.00,0,0,11647.08,0.00,15,False,False,True,False
2,10,152264.21,106589.00,258853.21,201303.01,49038.80,0,0,-152264.21,-152264.21,10,False,False,False,False
3,403,1551760.63,0.00,0.00,3198359.45,4750120.08,0,0,0.00,1551760.63,19,False,False,False,True
4,206,78172.30,2921331.58,2999503.88,415821.90,337649.60,0,0,-78172.30,-78172.30,14,False,False,False,False

In [16]:
output_path=r"C:\Users\MAITHILI\Gen-AI_FraudGuard\paysim_processed.csv"

df.to_csv(output_path, index=False)

print("Saved processed dataset to:", output_path)
print("Final shape:", df.shape)

Saved processed dataset to: C:\Users\MAITHILI\Gen-AI_FraudGuard\paysim_processed.csv
Final shape: (150000, 15)