In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("paysim_sample.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,278,CASH_IN,330218.42,C632336343,20866.00,351084.42,C834976624,452419.57,122201.15,0,0
1,15,PAYMENT,11647.08,C1264712553,30370.00,18722.92,M215391829,0.00,0.00,0,0
2,10,CASH_IN,152264.21,C1746846248,106589.00,258853.21,C1607284477,201303.01,49038.80,0,0
3,403,TRANSFER,1551760.63,C333676753,0.00,0.00,C1564353608,3198359.45,4750120.08,0,0
4,206,CASH_IN,78172.30,C813403091,2921331.58,2999503.88,C1091768874,415821.90,337649.60,0,0

In [5]:
df.shape

(150000, 11)

In [6]:
df.isnull().sum()   #no null values

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
df['isFraud'].value_counts() #the dataset is highly imbalanced

isFraud
0    149808
1       192
Name: count, dtype: int64

In [8]:
df['isFraud'].value_counts(normalize=True)*100

isFraud
0    99.872
1     0.128
Name: proportion, dtype: float64

In [9]:
pd.crosstab(df["type"], df["isFraud"])

isFraud       0    1
type
CASH_IN   33214    0
CASH_OUT  52732   83
DEBIT       928    0
PAYMENT   50582    0
TRANSFER  12352  109

In [10]:
pd.crosstab(df["type"], df["isFraud"], normalize="index") * 100

isFraud            0         1
type
CASH_IN   100.000000  0.000000
CASH_OUT   99.842848  0.157152
DEBIT     100.000000  0.000000
PAYMENT   100.000000  0.000000
TRANSFER   99.125271  0.874729

In [11]:
df["amount"].describe()

count    1.500000e+05
mean     1.793068e+05
std      5.638623e+05
min      3.300000e-01
25%      1.341682e+04
50%      7.551588e+04
75%      2.081577e+05
max      3.697390e+07
Name: amount, dtype: float64

In [12]:
df[df["isFraud"] == 1]["amount"].describe()

count    1.920000e+02
mean     1.282890e+06
std      2.037202e+06
min      1.510000e+02
25%      1.089230e+05
50%      4.293507e+05
75%      1.421908e+06
max      1.000000e+07
Name: amount, dtype: float64